@use '../../styles/variables' as *
@use '../../styles/typography' as *
@use '../../styles/mixins' as *

// Подключаем шрифты для текста

.dropdown
  top: 100%
  left: 0
  max-height: 300px
  overflow-y: auto
  background-color: $color-white
  border: 1px solid $color-border
  border-radius: 4px
  box-shadow: $shadow-hover
  z-index: 1000
  list-style: none
  padding: 0
  margin: 0
  width: 100%

.dropdown__item
  display: flex
  align-items: center
  padding: 10px
  cursor: pointer
  font-size: $font-size-p
  // Используем стандарт размера шрифта для текста
  color: $color-text
  border-bottom: 1px solid $color-border
  transition: background-color 0.3s ease, color 0.3s ease

  &:hover
    background-color: $color-info
    color: $color-text-light

  &:last-child
    border-bottom: none

.dropdown__icon
  display: flex
  align-items: center
  justify-content: center
  margin-right: 12px
  font-size: $font-size-span
  // Размер шрифта для иконок
  color: $color-text

.dropdown__flag
  width: 20px
  height: 14px
  border-radius: 2px
  //margin-right: 8px
  object-fit: cover


.dropdown__text
  flex: 1
  font-size: $font-size-p
// Используем шрифт для текста