{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",
  "proseWrap": "preserve",
  "overrides": [
    {
      "files": ["*.js", "*.jsx"],
      "options": {
        "parser": "babel",
        "singleQuote": true,
        "jsxSingleQuote": false
      }
    },
    {
      "files": ["*.scss", "*.sass"],
      "options": {
        "parser": "scss",
        "singleQuote": false
      }
    }
  ]
}
