/* src/components/Layout/Layout.module.sass */
@use '../../styles/mixins' as *
@use '../../styles/variables' as *

.container
  max-width: 1200px
  width: 100%
  margin: 0 auto
  padding: 20px
  font-family: $font-main
  color: $color-text
  //background-color: $color-bg

  @include responsive-tablet
    padding: 16px

  @include responsive-phone
    padding: 12px