@use '../../styles/variables' as *
@use '../../styles/mixins' as *


.navigation
  display: flex
  justify-content: center
  align-items: center
  gap: 20px
  padding: 15px

  a
    text-decoration: none
    font-size: 16px
    font-weight: bold
    padding: 10px 20px
    border-radius: 5px
    transition: all 0.3s ease
    color: $color-text

    &:hover
      background-color: $color-primary
      color: $color-text-light
      transform: translateY(-2px)

    &:active
      transform: translateY(0)

  .active-link
    background-color: $color-primary
    color: $color-text-light

  @include responsive-phone
    flex-direction: column
    gap: 15px

